
header{
    padding: 20px;
    display: flex;
    background-color: aqua;
}
#nav-bar{
    margin: auto;
}
ul{
    display: flex;
}
li{
    list-style: none;
    flex: 1;
}

#header-img{
    width: 100px;
    height: 100px;

} 
@media {
    p {
        font-size: 20px;
    }
}